nav.nav-wrapper.grey.lighten-5 {
    height: 5em;
    background-color: #fafafa;
}

img {
padding: 5px;
margin: 5px;
}

a.black-text {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul{
    padding: 0px 30em;
}

i {
    padding: 1em 0px 0px 0px;
    color:#fafafa
}
h1 {
    color: #fafafa
}

h3 {
    padding: 20px;
    color: #fafafa;
}

nav ul {
    margin: 0 0 0 300px;
    padding: 0 0 0 300px;
}

li{
    padding: 1em 0px 0px 6em;
}

#project-card {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin: 2.5px; */
    padding: 0px;
    height: 30em;
    /* width: 25em; */
    background-color: #7EBCE6;
}

#project-card:hover {
    background-color: #7EBCE6;
    opacity: .9;
}

#skills-card {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 30em;
    /* width: 25em; */
    /* margin: 2.5px; */
    padding: 0px;
    background-color: #64F4E3;
}

#skills-card:hover {
    background-color: #64F4E3;
    opacity: .8;
}

#about-card {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 30em;
    /* width: 25em; */
    /* margin: 2.5px; */
    padding: 0px;
    background-color: #E43F6F;
}
#about-card:hover {
    opacity: .9;
    background-color: #E43F6F;
}

#guessman-card {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    /* background-color: #f5f5f5; */
    /* background-color: black; */
}

.nav-wrapper {
    /* background-color; */
    margin: 0px 0px 20px 0px;
}

a.btn {
    background-color: #659DBD;
}

/* header, main, footer {
    padding-left: 300px;
  } */

  /* @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  } */



